/* @theme: default; */

.responsive-cart-grid {
    .grid-row {
        background-color: $shopping-list-grid-effect-background-color;
        transition: $shopping-list-grid-effect-transition;

        > .grid-cell:first-child {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
            }
        }

        &.loading {
            overflow: hidden;

            .grid-cell {
                @include loading-blur-overlay;

                &:first-child::before {
                    transition: opacity 400ms;
                    opacity: 0;
                }
            }
        }

        &.success {
            animation: green-pulse 1s cubic-bezier(.92, 1.07, .93, .42);
            background-color: $shopping-list-grid-effect-success;
        }

        &.error {
            animation: red-pulse 1s cubic-bezier(.92, 1.07, .93, .42);
            background-color: $shopping-list-grid-effect-error;

            > .grid-cell:first-child {
                &::before {
                    opacity: 0;
                    animation: line-bounce 400ms 1s;
                }
            }
        }

        &.highlight {
            > .grid-cell:first-child {
                &::before {
                    background-color: $shopping-list-grid-effect-warning-dark;
                }
            }
        }

        &.highlight-error {
            > .grid-cell:first-child {
                &::before {
                    background-color: $shopping-list-grid-effect-error-dark;
                }
            }
        }

        &.highlight-error,
        &.highlight {
            position: relative;
            z-index: z('base');

            > .grid-cell:first-child {
                &::before {
                    width: 2px;
                }
            }

            &:not(.notification-row) {
                border-bottom: none;

                > .grid-body-cell {
                    border-bottom: none;
                }
            }

            + .notification-row {
                z-index: z('hidden');

                .notification-container {
                    z-index: z('base') + 1;
                    position: relative;
                }
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .responsive-cart-grid {
        .grid-row {
            > .grid-cell:first-child {
                position: static;
            }

            &.loading {
                @include loading-blur-overlay;

                .grid-cell {
                    position: static;

                    &::before {
                        content: none;
                    }
                }
            }

            &.highlight,
            &.highlight-error {
                &::before {
                    content: '';
                    width: 2px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                }
            }

            &.highlight {
                &::before {
                    background-color: $shopping-list-grid-effect-warning-dark;
                }
            }

            &.highlight-error {
                &::before {
                    background-color: $shopping-list-grid-effect-error-dark;
                }
            }

            &.error {
                &::before {
                    animation: line-bounce 400ms 1s;
                }
            }
        }
    }
}
