/* @theme: default; */

.responsive-order-layout {
    .totals-container {
        margin-bottom: 10px;
    }
}

.responsive-cart-layout {
    .order-checkout-widget__container-wrapper {
        padding: 20px;

        border-radius: 4px;
        background: $responsive-shopping-list-layout-background;
    }
}

@include breakpoint('responsive-cart-grid-overflow') {
    .responsive-cart-layout {
        .page-content {
            &--has-sidebar {
                padding: $page-content-with-sidebar-tables-s-inner-offset;
                width: $page-content-width;
            }
        }

        .page-sidebar {
            width: $page-sidebar-tablet-s-width;
        }

        .order-checkout-widget {
            &__container-wrapper {
                width: 40%;
                margin-left: auto;
            }
        }
    }
}

@include breakpoint('tablet') {
    .responsive-order-layout {
        display: flex;
        flex-direction: row-reverse;
    }

    .responsive-cart-layout {
        .order-checkout-widget {
            &__container-wrapper {
                width: 50%;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .responsive-order-layout {
        flex-direction: column;
    }

    .responsive-cart-layout {
        .order-checkout-widget {
            &__container-wrapper {
                width: 100%;
            }
        }
    }
}
