/* @theme: default; */

.responsive-cart-grid-edit {
    .select-row-cell {
        position: relative;

        width: $responsive-shopping-list-edit-select-row-cell-width;
    }

    .cell-checkbox {
        position: relative;
        z-index: z('base') + 1;

        display: inline-flex;
        height: $responsive-shopping-list-edit-action-in-desktop-height;
        align-items: center;
    }

    .grid-header-cell-quantity {
        text-align: center;
    }

    .grid-header-cell-quantity,
    .grid-body-cell-quantity {
        padding-right: 0;
    }

    .group-row {
        .grid-body-cell-quantity {
            text-align: left;
        }
    }

    .group-row-has-children {
        .select-row-cell::after {
            position: absolute;
            top: $responsive-shopping-list-edit-action-in-desktop-height - 1px;
            left: $datagrid-body-select-row-cell-offset-start + $checkbox-icon-size * .5;
            transform: translateX(-50%);
            bottom: -1px;

            z-index: z('base');

            content: '';

            width: 1px;
            background-color: $responsive-shopping-sub-row-border-mobile-color;
        }
    }

    .sub-row {
        .cell-checkbox {
            padding-left: $responsive-shopping-list-edit-checkbox-offset + $checkbox-icon-size * .5;
        }

        .select-row-cell {
            &::after {
                position: absolute;
                top: -($responsive-shopping-sub-row-border-width + 1px);
                left: $datagrid-body-select-row-cell-offset-start + $checkbox-icon-size * .5;
                bottom: -1px;
                transform: translateX(-50%);

                z-index: z('base');

                content: '';

                width: 1px;
                background-color: $responsive-shopping-sub-row-border-mobile-color;
            }
        }

        .cell-line {
            position: absolute;
            top: 50%;
            left: -($responsive-shopping-list-edit-checkbox-offset + 1px);
            right: 0;
            transform: translateY(-50%);
            height: 1px;

            z-index: z('hidden');

            background-color: $responsive-shopping-sub-row-border-mobile-color;
        }
    }

    .filtered-out .select-row-cell::after {
        top: -1px;
        height:
            $datagrid-body-cell-offset +  $responsive-shopping-list-edit-action-in-desktop-height * .5 -
            $responsive-shopping-sub-row-cell-inner-offset;
        bottom: auto;
    }

    .sub-row-last {
        .select-row-cell::after {
            top: 0;
            height:
                    $responsive-shopping-sub-row-cell-inner-offset +
                    $responsive-shopping-list-edit-action-in-desktop-height * .5;
            bottom: auto;
        }

        // hide vertical line
        &.notification-row .select-row-cell::after {
            content: none;
        }
    }
}

@include breakpoint('desktop') {
    .responsive-cart-grid-edit {
        .sub-row {
            .grid-body-cell-quantity {
                padding-top: $responsive-shopping-sub-row-cell-inner-offset;
            }
        }
    }
}

@include breakpoint('tablet') {
    .responsive-cart-grid-edit {
        .grid-row {
            .grid-body-cell {
                &-price,
                &-subtotal,
                &.action-cell {
                    padding-top: $responsive-shopping-body-cell-offset-y-tablet;
                }
            }
        }

        .sub-row {
            .grid-body-cell {
                &-price,
                &-subtotal,
                &.action-cell {
                    padding-top: $responsive-shopping-subrow-body-cell-offset-y-tablet;
                }
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .responsive-cart-grid-edit {
        .grid-body-cell {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            order: 3;
        }

        // Hide the some grid body cells
        .grid-body-cell-sku,
        .grid-body-cell-inventoryStatus,
        .grid-body-cell-unit {
            display: none;
        }

        .select-row-cell {
            position: static;
            display: inline-flex;
            align-items: center;
            align-self: flex-start;
            justify-content: center;
            order: 1;
            width: $responsive-shopping-list-edit-select-row-cell-width-mobile;
            height: $responsive-shopping-list-edit-select-row-cell-height-mobile;
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0;
            margin: 0;
        }

        .grid-body-cell-quantity {
            padding-top: 6px;
            padding-right: $responsive-shopping-body-cell-offset-x-mobile;
        }

        .shift-mobile-row {
            margin-right: -$responsive-shopping-list-edit-select-row-cell-width-mobile;
        }

        .grid-body-cell-item {
            display: inline-flex;
            flex-grow: 1;
            order: 1;
            width:
                calc(
                    100% -
                    #{$responsive-shopping-list-edit-select-row-cell-width-mobile} -
                    #{$responsive-shopping-list-edit-action-cell-width-mobile}
                );
            padding-left: 0;
            margin: 0;
        }

        .action-cell {
            order: 2;
            display: inline-flex;
            align-items: flex-end;
            align-self: flex-start;
            width: $responsive-shopping-list-edit-action-cell-width-mobile;
            padding-left: 0;
            padding-right: 0;
            margin: 0;
        }

        .grid-row {
            .grid-body-cell {
                &-price,
                &-subtotal {
                    padding-top: $responsive-shopping-body-cell-offset-y-mobile;
                }

                &.action-cell {
                    padding-top: $responsive-shopping-body-cell-action-offset-y-mobile;
                }
            }
        }

        .group-row,
        .sub-row {
            position: relative;
        }

        .single-row {
            .shift-mobile-row {
                margin-left:
                    -(
                        $responsive-shopping-list-edit-select-row-cell-width-mobile +
                        $product-item-image-holder-tiny-width +
                        $grid-line-items-row-offset-x-mobile -
                        $responsive-shopping-body-cell-offset-x-mobile
                    );
            }
        }

        .group-row-has-children {
            .grid-body-cell {
                margin-left:
                        $responsive-shopping-list-edit-select-row-cell-width-mobile -
                        $responsive-shopping-body-cell-offset-x-mobile;
            }

            .action-cell,
            .select-row-cell,
            .grid-body-cell-item {
                margin: 0;
            }

            .select-row-cell {
                &::after {
                    left: $responsive-shopping-list-edit-select-row-cell-width-mobile * .5;
                }
            }
        }

        .sub-row {
            &:not(.sub-row-last) {
                border-image:
                    linear-gradient(
                        to right,
                        transparent #{
                            $responsive-shopping-list-edit-select-row-cell-width-mobile +
                            $responsive-shopping-list-edit-sub-row-offset
                        },
                        $responsive-shopping-sub-row-border-mobile-color #{
                            $responsive-shopping-list-edit-select-row-cell-width-mobile +
                            $responsive-shopping-list-edit-sub-row-offset
                        }
                    ) 1;
            }

            .grid-body-cell {
                margin-left:
                    $responsive-shopping-list-edit-select-row-cell-width-mobile +
                    $responsive-shopping-list-edit-sub-row-offset -
                    $responsive-shopping-body-cell-offset-x-mobile;
            }

            .action-cell,
            .select-row-cell {
                margin: 0;
            }

            .select-row-cell {
                width:
                    $responsive-shopping-list-edit-select-row-cell-width-mobile +
                    $responsive-shopping-list-edit-sub-row-offset;

                &::after {
                    left: $responsive-shopping-list-edit-sub-row-offset;
                }
            }

            .grid-body-cell-item {
                display: inline-flex;
                flex-grow: 1;
                order: 1;
                width:
                    calc(
                        100% - #{$responsive-shopping-list-edit-sub-row-offset} -
                        #{$responsive-shopping-list-edit-select-row-cell-width-mobile} -
                        #{$responsive-shopping-list-edit-action-cell-width-mobile}
                    );
                padding-left: 0;
                margin-left: 0;
            }

            .cell-checkbox {
                padding-left: $responsive-shopping-list-edit-sub-row-offset;
            }

            .cell-line {
                width: $responsive-shopping-list-edit-select-row-cell-width-mobile * .5;
                top: 50%;
                right: 50%;
            }
        }

        .filtered-out .select-row-cell::after {
            bottom: auto;
            height:
                $responsive-shopping-grid-row-offset-mobile +
                $responsive-shopping-body-cell-offset-y-mobile +
                $responsive-shopping-list-edit-select-row-cell-height-mobile * .5 -
                $responsive-shopping-sub-row-cell-inner-offset;
        }

        .sub-row-last .select-row-cell::after {
            bottom: auto;
            height:
                $responsive-shopping-grid-row-offset-mobile +
                $responsive-shopping-body-cell-offset-y-mobile +
                $responsive-shopping-list-edit-select-row-cell-height-mobile * .5;
        }
    }
}

@include breakpoint('mobile-small') {
    .responsive-cart-grid-edit {
        .select-row-cell {
            width: $responsive-shopping-list-edit-select-row-cell-width-mobile-s;
        }

        .grid-body-cell-item {
            width:
                calc(
                    100% - #{$responsive-shopping-list-edit-select-row-cell-width-mobile-s} -
                    #{$responsive-shopping-list-edit-action-cell-width-mobile}
                );
        }

        .grid-body-cell-item,
        .select-row-cell,
        .action-cell {
            margin-left: 0;
        }

        .single-row {
            .shift-mobile-row {
                margin-left:
                    -(
                        $responsive-shopping-list-edit-select-row-cell-width-mobile-s +
                        $product-item-image-holder-tiny-width +
                        $grid-line-items-row-offset-x-mobile -
                        $responsive-shopping-body-cell-offset-x-mobile
                    );
            }
        }

        .group-row-has-children {
            .select-row-cell {
                &::after {
                    left: $responsive-shopping-list-edit-sub-row-offset-mobile-s;
                }
            }

            .grid-body-cell {
                margin-left:
                    $responsive-shopping-list-edit-select-row-cell-width-mobile-s -
                    $responsive-shopping-body-cell-offset-x-mobile;
            }

            .grid-body-cell-item,
            .select-row-cell,
            .action-cell {
                margin-left: 0;
            }
        }

        .sub-row {
            &:not(.sub-row-last) {
                border-image:
                    linear-gradient(
                            to right,
                            transparent #{
                                $responsive-shopping-list-edit-select-row-cell-width-mobile-s +
                                $responsive-shopping-list-edit-sub-row-offset
                            },
                            $responsive-shopping-sub-row-border-mobile-color #{
                                $responsive-shopping-list-edit-select-row-cell-width-mobile-s +
                                $responsive-shopping-list-edit-sub-row-offset
                           }
                    ) 1;
            }

            .select-row-cell {
                width:
                    $responsive-shopping-list-edit-select-row-cell-width-mobile-s +
                    $responsive-shopping-list-edit-sub-row-offset;

                &::after {
                    left: $responsive-shopping-list-edit-sub-row-offset-mobile-s;
                }
            }

            .grid-body-cell-item {
                width:
                    calc(
                        100% - #{$responsive-shopping-list-edit-sub-row-offset} -
                        #{$responsive-shopping-list-edit-select-row-cell-width-mobile-s} -
                        #{$responsive-shopping-list-edit-action-cell-width-mobile}
                    );
            }

            .grid-body-cell {
                margin-left:
                    $responsive-shopping-list-edit-select-row-cell-width-mobile-s +
                    $responsive-shopping-list-edit-sub-row-offset -
                    $responsive-shopping-body-cell-offset-x-mobile;
            }

            .grid-body-cell-item,
            .select-row-cell,
            .action-cell {
                margin-left: 0;
            }
        }
    }
}
