{% import '@XngageCart/Cart/Frontend/buttons.html.twig' as buttons %}

{% set buttonOptions = {
    dataUrl: false,
    dataAttributes: {},
    aCss: 'btn--info ',
} %}

{% set buttonsOptions = {
    existing: buttonOptions,
    singleButtonACss : 'btn--info',
    cart: actionData.cart,
    componentModule: params.buttonOptions.page_component_module|default('xngagecart/js/app/views/product-quick-add-to-cart-view'),
    componentOptions: {
        'quickAddComponentPrefix': 'quick-add',
        'cart': actionData.cart
    }|merge(params.buttonOptions.page_component_options|default({}))
} %}

<div class="widget-content btn-group">
    <div class="mass-action-controls">
        {% import '@OroUI/macros.html.twig' as UI %}
        {{ UI.pinnedDropdownButton({
            'html': buttons.getButtonsHtml(buttonsOptions),
            'mobileEnabled': true,
            'dataAttributes': {
                'layout': 'deferred-initialize'
            },
            'options': {
                'widgetModule': 'oroproduct/js/content-processor/product-add-to-dropdown-button',
                'widgetName': 'productAddToDropdownButtonProcessor',
                'truncateLength': 25,
                'decoreClass': 'btn--info'
            }
        }) }}
    </div>
</div>
