{% macro addToButton(options) %}
    {% import _self as buttons %}
    {% set options = {
        defaultLabel: 'Xngage.cart.entity_label'|trans,
        actionLabel: 'xngage.cart.actions.add_to_cart'|trans
    }|merge(options) %}
    {{ buttons.getButton(options) }}
{% endmacro %}

{% macro buttonTemplate(options) %}
    {% import '@OroFrontend/layouts/blank/utils.html.twig' as utils %}
    {% import _self as buttons %}
    {{ utils.underscoreRaw(buttons.addToButton({
        cart: {
            id: '<%= id %>',
            label: '<%= _.escape(label) %>'
        }
    }|merge(options))) }}
{% endmacro %}

{% macro getButton(options) %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% set options = {
        cart: null,
        defaultLabel: '',
        aCss: 'btn--info'
    }|merge(options) %}

    {% set cartId = options.cart ? options.cart.id : null %}
    {% set cartLabel = options.cart ? options.cart.label : options.defaultLabel %}

    {% set dataAttributes = options.dataAttributes|merge({
        cart: {
            id: cartId
        }
    }) %}

    {% set buttonOptions = {
        'dataAttributes': dataAttributes,
        'aCss': 'btn btn--block add-to-cart-button ' ~ options.aCss,
        'moreButtonExtraClass': 'btn--action',
        'dataId': cartId,
        'label' : options.actionLabel,
        'title' : options.actionLabel
    } %}
    {% if options.dataUrl %}
        {% set buttonOptions = buttonOptions|merge({
            'dataUrl': options.dataUrl,
        }) %}
    {% endif %}
    {% if options.pageComponent is defined %}
        {% set buttonOptions = buttonOptions|merge({
            'pageComponent': options.pageComponent,
        }) %}
    {% endif %}

    <div class="btn-group-container">
        <div class="btn-group btn-group--flex icons-holder btn-group--loading">
            {{ UI.clientLink(buttonOptions) }}
        </div>
    </div>
{% endmacro %}

{% macro getButtonsHtml(options) %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {% import _self as buttons %}
    <div class="btn-group product-add-to-cart-container"
         {{ UI.renderPageComponentAttributes({
             module: 'oroui/js/app/components/view-component',
             options: {
                 view: options.componentModule|default('xngagecart/js/app/views/product-add-to-cart-view'),
                 buttonTemplate: '<%#' ~ buttons.buttonTemplate(options.existing) ~ '#%>',
                 removeButtonTemplate: options.remove is defined ? '<%#' ~ buttons.buttonTemplate(options.remove) ~ '#%>',
                 emptyMatrixAllowed: oro_config_value('oro_product.matrix_form_allow_empty')
             }|merge(options.componentOptions|default({}))
         }) }}
        >
        {% if options.cart is not null %}
            {{ buttons.addToButton(options.existing|merge({cart: options.cart})) }}
        {% endif %}
    </div>
{% endmacro %}

