/* @theme: default; */

.responsive-cart-grid {
    .editable {
        position: relative;
    }

    .edit-mode {
        &.editable {
            width: $edit-mode-cell-width;
            min-width: $edit-mode-cell-width;
            background: $edit-mode-cell-background-color;
        }
    }

    .view-mode {
        &.editable {
            width: $view-mode-cell-width;
            min-width: $view-mode-cell-width;
            background: $view-mode-cell-background-color;
        }
    }
}

.line-item-container,
.cart-line-item-frontend-type-editor {
    .input {
        position: relative;
        width: 80px;
        min-width: 80px;

        text-align: right;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        overflow: hidden;

        &:hover,
        &:focus,
        &.error {
            z-index: z('base') + 1;
        }

        .highlight-error & {
            @extend .error;

            z-index: z('base') + 1;
        }

        // Mask to hide text overflow
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: $input-padding-y;

            background-color: $input-background-color;

            content: '';
        }
    }

    .select2-container,
    .select {
        position: relative;

        width: 70px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: -1px;
        text-align: left;

        @include ellipsis();

        &:hover,
        &:focus,
        &.error {
            z-index: z('base');
        }

        &.select2-container-active {
            z-index: z('base') + 2;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .responsive-cart-grid .grid-body {
        .edit-mode,
        .view-mode {
            &.editable {
                width: auto;
                min-width: auto;
                padding-top: $edit-mode-cell-top-offset-mobile;
                padding-bottom: $edit-mode-cell-bottom-offset-mobile;

                background: $edit-mode-cell-background-color;
            }
        }
    }
}

@include breakpoint('mobile') {
    .responsive-cart-grid .grid-body {
        .edit-mode,
        .view-mode {
            &.editable {
                width: 100%;
            }
        }
    }

    .line-item-container,
    .cart-line-item-frontend-type-editor {
        .select2-container,
        .select {
            flex-grow: 1;
        }

        .select {
            margin-right: 64px;
        }
    }
}
