{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%label%": entity.label }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('xngage_cart_index'),
        'indexLabel': 'Xngage.cart.entity_plural_label'|trans,
        'entityTitle': entity.label|default('N/A'|trans)
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set cartInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'xngage.cart.widgets.cart_information'|trans,
            'url': path('xngage_cart_info', {id: entity.id})
        }) }}
    {% endset %}

    {% set generalSectionBlocks = [{'data' : [cartInformationWidget]}]%}

    {% set subtotals %}
        {% include '@OroPricing/Totals/totals.html.twig' with {
            options: {
                route: 'oro_pricing_entity_totals',
                method: 'GET',
                events: [
                    'datagrid:doRefresh:cart-line-items-grid',
                    'datagrid:afterRemoveRow:cart-line-items-grid',
                    'datagrid:afterMassRemoveRow:cart-line-items-grid'
                ],
                entityClassName: oro_class_name(entity, true),
                entityId: entity.id,
                data: totals
            }
        } only %}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'xngage.cart.sections.general'|trans,
            'subblocks': generalSectionBlocks
        }
    ] %}

    {% set dataBlocks = dataBlocks|merge([
        {
            'title' : 'Xngage.cart.cartlineitem.entity_plural_label'|trans,
            'subblocks': [
            {
                'title' : '',
                'useSpan': false,
                'spanClass': 'cart-line-items',
                'data' : [dataGrid.renderGrid('cart-line-items-grid', {cart_id: entity.id}, { cssClass: 'inner-grid' })]
            }
        ]
        }
    ]) %}

    {% set dataBlocks = dataBlocks|merge([{
        'title': 'xngage.cart.sections.subtotals'|trans,
        'subblocks': [{'data' : [subtotals]}]
    }]) %}

    {% set id = 'cart-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
