{% block _header_row_cart_update_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " header-row__container cart-button-widget"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _header_row_cart_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}
    <div class="cart-button-widget__container">
        <div class="main-menu__item main-menu__item--nested">
            <div class="cart-button-widget__content">
                <div class="cart-button-widget__counter">
                    <div class="cart-button-widget__counter-text">
                        <strong>{{ cart.lineItems|length }}</strong>
                    </div>
                </div>
                <a href="{{ xngage_cart_frontend_url() }}">
                    <span class="cart-button-widget__icon" aria-hidden="true">
                        <span class="fa-shopping-cart"></span>
                    </span>
                    <span class="cart-button-widget__text">
                        <span class="cart-button-widget__label">{{ 'xngage.frontend.cart.widget.label'|trans }}</span>
                        <span class="cart-button-widget__details">
                            {{ 'xngage.frontend.cart.widget.items.label'|trans({'%count%': cart.lineItems|length}) }}
                            {% if cart.lineItems|length > 0 %}
                                | {{ cart.subtotal.amount|oro_format_currency({'currency': cart.subtotal.currency}) }}
                            {% endif %}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
