{% block __cart_buttons__line_item_form_buttons_cart_widget %}
    {% if cart is not null %}
        {% if not is_configurable_product_type(product.type) or matrixFormType != 'none' %}
            {% import '@XngageCart/Cart/Frontend/buttons.html.twig' as buttons %}

            {% set view = 'xngagecart/js/app/views/product-add-to-cart-view' %}
            {% if matrixFormType == 'popup' %}
                {% set view = 'Xngagecart/js/app/views/matrix-grid-cart-popup-button-view' %}
            {% elseif matrixFormType == 'inline' %}
                {% set view = 'xngagecart/js/app/views/matrix-grid-add-to-cart-view' %}
            {% endif %}

            {% set buttonOptions = {
                dataUrl: 'xngage_cart_frontend_add_product',
                dataAttributes: {},
                'aCss': 'btn--info '
            } %}
            {% set removeOptions = buttonOptions|merge({
                dataUrl: 'xngage_cart_frontend_remove_product',
                actionLabel: 'xngage.cart.actions.remove_from_cart'|trans
            }) %}

            {% set options = layout_attr_defaults(attr, {
                '~existing': buttonOptions,
                cart: cart,
                '~remove': removeOptions,
                '~componentModule': view,
                '~componentOptions': {
                    cart: cart,
                    modelAttr: {
                        product_cart_units: productCartUnits
                    }
                },
                '~singleButtonACss': 'btn--info'
            } ) %}
            {{ buttons.getButtonsHtml(options) }}
        {% endif %}
    {% endif %}
{% endblock %}
