{% block __customer_user_cart_actions__cart_actions_container_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% if block.children %}
        {% set togglerId = 'dropdown-'|uniqid %}
        <div class="btn-group">
            <button class="btn btn--default btn--size-s btn--no-y-offset dropdown-toggle dropdown-toggle--no-caret"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    aria-label="{{'xngage.frontend.cart.btn.actions.aria_label'|trans({'%name%': cart.label}) }}"
                    data-placement="bottom-end"
                    data-inherit-parent-width="loosely"
            >
                <span class="fa fa-ellipsis-h fa--gray" aria-hidden="true"></span>
                <span class="fa fa-caret-down fa--gray fa--no-offset" aria-hidden="true"></span>
            </button>
            <div class="dropdown-menu" role="menu" aria-labelledby="{{ togglerId }}">
                {{ block_widget(block) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{%- block __customer_user_cart_actions__cart_action_list_widget -%}
    {%- for button in buttons -%}
        {%- set options = oro_action_frontend_options(button) -%}
        {%- set buttonOptions = options.options -%}

        {%- set pageComponent = options.data['page-component-module']|default('oroaction/js/app/components/button-component') -%}
        {%- set pageComponentOptions = options.data['page-component-options']|default(null) %}

        <button
                class="action mode-icon-text dropdown-item"
                title="{{ button.label|trans }}"
                aria-label="{{ button.ariaLabel|trans({'%name%': cart.label}) }}"
                data-page-component-module="{{ pageComponent }}"
                {% if pageComponentOptions is not null %}
                    data-page-component-options="{{ pageComponentOptions|json_encode }}"
                {% else %}
                    data-operation-url="{{ buttonOptions.url }}"
                    data-options="{{ buttonOptions|json_encode }}"
                {% endif %}
        ><span class="icon {{ button.icon }}" aria-hidden="true"></span>
            {{- button.label|trans -}}
        </button>


    {%- endfor -%}
{%- endblock -%}
