{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('Xngage.cart.id.label'|trans, cart.id) }}
            {% if cart.customer %}
                {{ UI.renderHtmlProperty('Xngage.cart.customer.label'|trans, UI.entityViewLink(cart.customer, cart.customer|oro_format_name, 'oro_customer_customer_view')) }}
            {% endif %}
            {% if cart.customerUser %}
                {{ UI.renderHtmlProperty('Xngage.cart.customer_user.label'|trans, UI.entityViewLink(cart.customerUser, cart.customerUser|oro_format_name, 'oro_customer_customer_user_view')) }}
            {% endif %}
            {{ UI.renderProperty('Xngage.cart.label.label'|trans, cart.label) }}
            {{ UI.renderProperty('Xngage.cart.notes.label'|trans, cart.notes) }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(cart) }}
        </div>
    </div>
</div>
