{% extends '@OroAction/Operation/button.html.twig' %}

{% block button %}
    {% set options = oro_action_frontend_options(button) %}
    {% set buttonOptions = options.options %}
    {% if not onlyLink|default(false) %}<div class="btn-group btn-group--align-right icons-holder">{% endif %}
    {% block link %}
        <a {% if (params.id is defined) %}id="{{ params.id }}"{% endif %}
           href="{{ path(options.data.route, {'id' : options.data.route_parameters.id}) }}"
           target="{{ options.data.target }}"
           class="icons-holder-text operation-button {{ params.buttonOptions.class|default('') }} {{ aClass|default('') }} {{ params.buttonOptions.aCss|default('') }}"
           {% if linkTitle is not empty %}
               title="{{ linkTitle }}"
           {% endif %}
           {% if linkAriaLabel is not empty %}
               aria-label="{{ linkAriaLabel }}"
           {% endif %}
           {% for name,value in options.data %}
               data-{{ name }}="{{ value is iterable ? value|json_encode : value}}"
           {% endfor %}
           role="button"
            {% if not button.buttonContext.enabled %}
                disabled="disabled"
            {% endif %}
        >
            {% if params.buttonOptions.icon is defined or params.buttonOptions.iCss is defined %}
                <span class="{{ params.buttonOptions.icon|default('') }} {{ params.buttonOptions.iCss|default('') }} hide-text" aria-hidden="true"></span>
            {% endif %}
            {{ linkLabel|trim }}
        </a>
    {% endblock %}
    {% if not onlyLink|default(false) %}</div>{% endif %}
{% endblock %}
