{% block _no_cart_widget %}
    <div class="cart-list-empty">
        <span class="cart-list-empty__icon"><span class="fa-shopping-cart" aria-hidden="true"></span></span>
        <span>{{ 'xngage.frontend.cart.view.not_have_available'|trans }}</span>
    </div>
{% endblock %}

{% block _cart_notes_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' cart-notes',
        'data-page-component-module': 'xngagecart/js/app/components/cart-notes-editable-view-component',
        'data-page-component-options': {
            view: 'oroshoppinglist/js/app/views/shoppinglist-notes-editable-view',
            cartId: cart.id,
            routingOptions: {
                className: oro_class_name(cart, true),
            },
            notes: cart.notes|default('')
        }|json_encode
    }) %}

    {% set hasNotes = cart.notes|length > 0 %}
    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _cart_notes_add_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'btn btn--link btn--no-x-offset btn--no-y-offset',
        'type': 'button',
        'data-role': 'add-notes'
    }) %}

    {% if cart.notes|length > 0 %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' hide'
        }) %}
    {% endif %}

    <button {{ block('block_attributes') }}>
        <span class="fa-file-text-o" aria-hidden="true"></span>
        {{ 'xngage.frontend.cart.note.add_entire_note'|trans }}
    </button>
{% endblock %}

{%- block _cart_notes_edit_form_widget -%}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'hide',
        'data-role': 'edit-notes-form'
    }) %}

    {% set hasNotes = cart.notes|length > 0 %}
    <form {{ block('block_attributes') }}>
        {{ form_widget(form.notes, {attr: {
            'data-autoresize': '',
            'aria-label': 'xngage.frontend.cart.note.textarea.aria_label'|trans({
                '%cart%': cart.label
            })
        }}) }}
        <div class="cart-modify">
            <span class="cart-modify__edit">
                <button class="btn btn--info btn--size-xs"
                        type="button"
                        title="{{ 'Apply'|trans }}"
                        aria-label="{{ 'xngage.frontend.cart.note.apply'|trans }}"
                        data-role="apply"
                        disabled="disabled"
                >
                    <span class="fa-check fa--no-offset" aria-hidden="true"></span>
                </button>
            </span>
            <span class="cart-modify__edit">
                <button class="btn btn--size-xs"
                        type="button"
                        title="{{ 'Decline'|trans }}"
                        aria-label="{{ 'xngage.frontend.cart.note.decline'|trans }}"
                        data-role="decline"
                ><span class="fa-close fa--no-offset" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    </form>
{%- endblock -%}

{% block _cart_notes_text_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' cart-notes__content',
        'data-role': 'view-notes'
    }) %}

    {% if cart.notes|length == 0 %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' hide'
        }) %}
    {% endif %}

    <div {{ block('block_attributes') }}>
        <span data-role="notes-text">{{ cart.notes }}</span>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _cart_notes_edit_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' btn btn--plain btn--size-s',
        'type': 'button',
        'title': 'Edit'|trans,
        'data-role': 'edit-notes',
        'aria-label': 'xngage.frontend.cart.note.edit'|trans
    }) %}

    <button {{ block('block_attributes') }}>
        <span class="fa-pencil fa--no-offset" aria-hidden="true"></span>
    </button>
{% endblock %}
