/* @theme: default; */

.cart-button-widget {
  float: $cart-button-widget-float;

  &__content {
    position: $cart-button-widget-content-position;
    margin: $cart-button-widget-content-margin;
    vertical-align: $cart-button-widget-content-vertical-align;
    text-align: $cart-button-widget-content-text-align;

    a {
      color: $cart-button-widget-text-a-color;
    }
    a:hover {
      color: $cart-button-widget-text-a-hover-color;
    }
  }

  &__details {
    font-weight: $cart-button-widget-details-font-weight;
    padding: $cart-button-widget-details-padding;
  }

  &__icon {
    margin-right: $cart-button-widget-icon-margin-right;

    @include badge($cart-button-widget-icon-badge-size);
  }
  &__counter {
    display: none;
  }
}

@include breakpoint('tablet') {
  .cart-button-widget {
    &__container {
      text-align: $cart-button-widget-container-text-align;
      padding: $cart-button-widget-container-padding;
      background-color: $cart-button-widget-container-background-color;
    }
    &__content {
      margin: $cart-button-widget-content-tablet-margin;
    }
    &__icon {
      margin: $cart-button-widget-icon-tablet-margin;
    }
    &__counter {
      display: inline-block;
      text-indent: 4px;

      strong {
        position: absolute;
        top: -3px;
        right: 25px;
        padding: 3px 5px 3px 1px;
        font-size: 10px;
        line-height: 1;
        text-align: left;
        color: #fff;
        border-radius: 16px;
        background-color: rgba(70, 70, 70, 0.73);
      }
    }
  }
}

@include breakpoint('tablet-small') {
  .cart-button-widget {
    &__text {
      display: $cart-button-widget-text-tablet-small-display;
    }
  }
}
