/* @theme: default; */

.product-add-to-cart-container {
  margin: $product-add-to-cart-container-margin;

  &.btn-group {
    &:not(.btn-group--flex) {
      display: $product-add-to-cart-container-btn-group-display;
    }
  }

  .btn-group-container {
    width: $product-add-to-cart-container-btn-group-container-width;
  }
}

.matrix-order-widget__totals {
  .product-add-to-cart-container {
    margin: $product-add-to-cart-container-matrix-margin;
  }
}

@include breakpoint('tablet') {
  .matrix-order-widget__totals {
    .product-add-to-cart-container {
      margin: $product-add-to-cart-container-margin;
    }
  }
}
