/* @theme: default; */

$product-add-to-cart-container-margin: 10px 0px !default;
$product-add-to-cart-container-matrix-margin: 10px 10px 10px 0px !default;
$product-add-to-cart-container-btn-group-display: block !default;
$product-add-to-cart-container-btn-group-flex-display: flex !default;
$product-add-to-cart-container-btn-group-container-width: 100% !default;
