/* @theme: default; */

$cart-button-widget-float: left !default;
$cart-button-widget-content-position: relative !default;
$cart-button-widget-content-margin: 9px 5px 0 0 !default;
$cart-button-widget-content-vertical-align: middle !default;
$cart-button-widget-content-text-align: right !default;
$cart-button-widget-text-a-color: get-color('additional', 'dark') !default;
$cart-button-widget-text-a-hover-color: get-color('additional', 'darker') !default;
$cart-button-widget-details-font-weight: bold;
$cart-button-widget-details-padding: 0px 0px 0px 5px;
$cart-button-widget-icon-margin-right: 3px !default;
$cart-button-widget-icon-badge-size: 33px !default;

$cart-button-widget-container-text-align: center !default;
$cart-button-widget-container-padding: 7px 10px !default;
$cart-button-widget-container-background-color: #f5f5f5 !default;
$cart-button-widget-icon-tablet-margin: 0 !default;
$cart-button-widget-content-tablet-margin: 0 !default;
$cart-button-widget-text-tablet-small-display: none !default;
