{% block __base_matrix_grid_order__wrapper_widget %}
    {% set class_prefix = 'matrix-order-widget' %}

    {% if rows is not defined %}
        {% set rows = [
            form.rows|length,
            form.rows[0].columns|length
        ] %}
    {% endif %}

    {% do block|merge_context({
        class_prefix: class_prefix,
        form: form,
        product: product,
        cart: cart,
        rows: rows,
        totals: totals,
        prices: prices
    }) %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': ' {{ class_prefix }}',
        '~data-page-component-view': {
            view: 'oropricing/js/app/views/base-product-matrix-view',
            prices: prices,
            dimension: rows[1],
            autoRender: true
        }
    }) %}

    <div{{ block('block_attributes') }}>
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}

{% block __base_matrix_grid_order__form_start_widget %}
    {% set form_route_name = 'xngage_cart_frontend_matrix_grid_order' %}
    {% set form_route_parameters = form_route_parameters|merge({
        productId: product.id,
        cartId: cart is not empty ? cart.id : null
    }) %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': class_prefix ~ '__form fields-row',
        'novalidate': 'novalidate'
    }) %}
    {{ parent_block_widget(block) }}
{% endblock %}

{% block __base_matrix_grid_order__form_summary_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': class_prefix ~ '__totals '
    }) %}

    <div{{ block('block_attributes') }}>
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}

{% block __base_matrix_grid_order__form_end_widget %}
    {% if renderCache is not defined %}
        {% set renderCache %}
               {{ form_widget(form._token) }}
           {% endset %}
        {% do block|merge_context({
            renderCache: renderCache
        }) %}
    {% endif %}
    {{ renderCache }}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block __base_matrix_grid_order__matrix_form_clear_button_widget %}
    {% if totals.quantity|default(0) == 0 %}
        {% set style = style ~ ' disabled' %}
    {% endif %}

    {{ parent_block_widget(block) }}
{% endblock %}
